# Copia este archivo como .env.local y ajusta las URLs

# REST (tu backend CRUD)
VITE_API_BASE=http://localhost:8080

# Login JWT (opcional, por defecto usa VITE_API_BASE)
VITE_AUTH_BASE=http://localhost:8080

# Tiempo real (Socket.IO en Node)
VITE_IO_BASE=http://localhost:3001

# Tiempo real (STOMP en Spring), solo si se usa
VITE_STOMP_BASE=http://localhost:8080
VITE_STOMP_PATH=/ws-blueprints

# true = datos en memoria, false = API REST real
VITE_USE_MOCK=true
